<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
</head>
<body>
<ul id="userList">
    <!-- 검색된 사용자 리스트 -->
    <table>
        <thead>
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>이메일</th>
            <th>생년월일</th>
            <th>상세</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.userEmail}"></td>
            <td th:text = "${#temporals.format(user.userBirth, 'yy년 MM월 dd일')}" ></td>
            <td><a th:href="@{'/user/{userId}/detail.do'(userId=${user.userId})}">상세보기</a></td>
        </tr>
        </tbody>
    </table>
</ul>
</body>
</html>