<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>posting</title>-->
<!--</head>-->
<!--<body>-->
<!--<h3>posting</h3>-->
<!--<table>-->
<!--  <thead>-->
<!--      <tr>-->
<!--        <th>userId</th>-->
<!--        <th>contents</th>-->
<!--        <th>장소</th>-->
<!--        <th>사람</th>-->
<!--      </tr>-->
<!--  </thead>-->
<!--  <tbody id="postTbody">-->
<!--    <tr th:each="post : ${postings}">-->
<!--&lt;!&ndash;      <td th:text="${postings}"></td>&ndash;&gt;-->
<!--      <td th:text="${post.user.userName}"></td>-->
<!--      <td th:text="${post.contents}"></td>-->
<!--      <td th:text="${post.locationTag}"></td>-->
<!--      <td th:text="${post.personTagId}"></td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--</body>-->


<!--</html>-->